.btn {
    position: relative;
    padding: 10px 15px;
    background-color: #7CC6fE;
    border: none;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.btn:hover {
    background-color: #70B4E6;
}

.btn[disabled] {
    opacity: .5;
    cursor: not-allowed;
}

.btn.active {
    background-color: #23C9FF;
    border: 1px solid #5EB2F2;
    box-shadow: 0px 0 2px 0px #C0C0C0;
}

.comment {
    color: var(--color-green);
    background-color: rgb(245, 243, 238);
    text-transform: uppercase;
    width: 100%;
}

.post-button {
    background-color: var(--color-background);
    color: var(--color-black);
    font-size: 16px;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    width: 100%;
}

.post-button:hover {
    background-color: rgb(245, 240, 226);
}

.comment:hover {
    background-color: rgb(245, 240, 226);
}