.post-messages-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
}

.post-messages-wrapper li .list-item-title-secondary {
    color: var(--color-paleGray);
    display: flex;
    margin-right: 10px;
    font-size: 12px;
}

.post-messages-wrapper li .list-item-title-secondary:hover:not(:last-child) {
    color: var(--color-green);
}

.post-messages-wrapper .list-item .list-item {
    background-color: var(--color-background);
    padding: 20px 10px;
    border-radius: 15px;
}

.post-messages-wrapper .list-item {
    margin: 10px 0;
}

.post-messages-wrapper .list-item .list-item-icon {
    align-self: flex-start;
}

.post-messages-wrapper .list-item .list-item .list-item-title-secondary {
    font-size: 14px;
    color: var(--color-gray);
    margin-top: 10px;
}

.post-messages-wrapper .list-item .list-item .list-item-title {
    font-size: 16px;
}