@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-montserrat);
    font-weight: 500;
}


:root {
    --color-background: #F3F4F5;
    --color-green: #68AB93;
    --color-black: #232020;
    --color-paleGray: #B7C4C2;
    --color-gray: #606060;
    --font-montserrat: 'Roboto', sans-serif
}

.margin-content {
    margin: 0 50px;
}

.content {
    background-color: var(--color-background);
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "menu comments aside";
}

.menu-wrapper {
    grid-area: menu;
    width: 250px;
    margin-top: 30px;
}

.comments-section {
    grid-area: comments;
    margin-top: 70px;
}

.aside {
    grid-area: aside;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 40px 20px;
}